version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: mofresh_db
    restart: always
    environment:
      # These variables are pulled directly from your .env file
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: